<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script type="text/javascript" src="http://lib.baomitu.com/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
  <span class="result"></span>
  <script type="text/javascript">
    $.ajax({
       type: "POST",
       url: "/graphql/search",
       data: {
        query: '{hello}'
       },
       success: function(data){
        console.log(data);
        $('.result').html(JSON.stringify(data.data));
       }
    });
  </script>
</body>
</html>
