<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>New ThinkJS Application</title>
  <script src="http://lib.baomitu.com/jquery/2.2.4/jquery.js"></script>
</head>
<body>
  <ul>
    {% for item in infoList %}
      <li data-id="{{item.id}}">
        {{ item.filePath }} - {{ item.order }}
        <span class="delete">删除</span>
      </li>
    {% endfor %}
  </ul>
  <form>
    <input type="text" name="order">
    <input type="file" name="file">
    <button class="submit_btn">提交</button>
  </form>
  <script type="text/javascript">
    $('.submit_btn').click(function(evt) {
      evt.preventDefault();
      var formData = new FormData();
      formData.append('order', $('input[name="order"]').val());
      formData.append('file', $('input[name=file]')[0].files[0]);

      $.ajax({
        url: '/index/addInfo',
        method: 'POST',
        data: formData,
        contentType: false, // 注意这里应设为false
        processData: false,
        cache: false,
        success: function(data) {
          console.log(data);
        },
        error: function (jqXHR) {
          console.log(jqXHR);
        }
      })
      .done(function(data) {
        console.log('done');
      })
    });

    $('.delete').click(function(evt) {
      var id = $(this).parents('li').attr('data-id');
      var that = this;
      $.post('/index/delInfo', {id: id}, function(res) {
        if(+res.errno === 0) {
          $(that).parents('li').remove();
        }
      })
    })

  </script>
</body>
</html>
