<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/websocket/style.css">
    <title>ws</title>
    <script src="http://lib.baomitu.com/jquery/2.2.4/jquery.js"></script>
  </head>
  <body>
    <ul class="pages">
      <li class="chat page">
        <div class="chatArea">
          <ul class="messages"></ul>
        </div>
        <input class="inputMessage" placeholder="Type here..."/>
      </li>
      <li class="login page">
        <div class="form">
          <h3 class="title">What's your nickname?</h3>
          <div>
            <input class="usernameInput" type="text" maxlength="14" />
          </div>

          <div>
            <input class="roomInput" type="text" maxlength="14" />
          </div>

          <div>
            <button class="send">提交</button>
          </div>
        </div>
      </li>
    </ul>
    <script type="text/javascript">
      //const reader = new FileReader();
      var ws = new WebSocket('ws://127.0.0.1:8360/ws');

      ws.onopen = function() {
        console.log('onopen...');
      }

      ws.onerror = function(evt) {
        console.log(evt);
      }

      ws.onmessage = function(data) {
        // data = JSON.parse(data.data);
        console.log(data);
        //console.log(reader.readAsText(message.data))
      }

      $('.send').on('click', function(evt) {
        var username = $.trim($('.usernameInput').val());
        var room = $.trim($('.roomInput').val());
        ws.send(JSON.stringify({
          event: 'addUser',
          data: {
            username: username,
            room: room
          }
        }));
      });

    </script>
  </body>
</html>
