<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/websocket/style.css">
    <script src="http://lib.baomitu.com/jquery/2.2.4/jquery.js"></script>
    <script src="http://lib.baomitu.com/socket.io/2.0.1/socket.io.js"></script>
  </head>
  <body>
    <ul class="pages">
      <li class="chat page">
        <div class="chatArea">
          <ul class="messages"></ul>
        </div>
        <input class="inputMessage" placeholder="Type here..."/>
      </li>
      <li class="login page">
        <div class="form">
          <h3 class="title">What's your nickname?</h3>
          <div>
            <input class="usernameInput" type="text" maxlength="14" />
          </div>

          <div>
            <input class="roomInput" type="text" maxlength="14" />
          </div>

          <div>
            <button class="send">提交</button>
          </div>
        </div>
      </li>
    </ul>
    <script type="text/javascript">
      // var socket = io('http://localhost:8360/space1');
      var socket = io('http://localhost:8360/space1', {
        path: '/socket1234'
      });
      // socket.emit('getTunnelDevice', '31010/#');

      $('.send').on('click', function(evt) {
        var username = $.trim($('.usernameInput').val());
        var room = $.trim($('.roomInput').val());


        if(username) {
          socket.emit('addUser', {
            username: username,
            room: room
          });
        }
      });

      socket.on('opend', function(data) {
        console.log(data);
        //socket.emit('getTunnelDevice', '31010/#');
      });

      socket.on('joined', function(data) {
        console.log(data);
      });

      socket.on('addUserCallBack', function(data) {
        console.log('addUser 回调：', data);
      });

    </script>
  </body>
</html>
