<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/websocket/style.css">
    <script src="http://lib.baomitu.com/jquery/2.2.4/jquery.js"></script>
    <script src="http://lib.baomitu.com/socket.io/2.0.1/socket.io.js"></script>
  </head>
  <body>
    <ul class="pages">
      <li class="chat page">
        <div class="chatArea">
          <ul class="messages"></ul>
        </div>
        <input class="inputMessage" placeholder="Type here..."/>
      </li>
      <li class="login page">
        <div class="form">
          <h3 class="title">What's your nickname?</h3>
          <input class="usernameInput" type="text" maxlength="14" />
          <button class="send">提交</button>
        </div>
      </li>
    </ul>
    <script type="text/javascript">
      var socket = io();

      $('.send').on('click', function(evt) {
        var username = $.trim($('.usernameInput').val());
        if(username) {
          socket.emit('addUser', username);
        }
      });
    </script>
  </body>
</html>
